.selectedList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.champs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin-bottom: 10px;
}